
body{
    background-color:#EAF6F6 ;
}
hr {
border-style:none ;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 5%;
}
h3{
    color:#66BFBF ;
    font-family: Georgia, 'Time New Roman', Times, sanserif;
}

h1{
    color:#66BFBF ;
    font-family:'Times New Roman', Times, sans-serif
}

p {color: grey;
    
    font-family: 'Times New Roman', Times, sans-serif;
    

}

td {color: grey;

    font-family: 'Times New Roman', Times, sans-serif;
    font-size: medium;

}

thead {  
    color:#ffc8bd ;
    
    font-family: 'Times New Roman', Times, sans-serif;
     font-size: large;

}
a {
    color: rgba(120, 129, 136, 0.562);
}

ul { list-style-type: square;
    color:#ffc8bd ;
    width: auto;
   

}



}








